*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: #555;
    display: flex;
    align-items:center; /* handle property on y axis */
    justify-content:space-evenly; /* handle property on x axis */
}

#box1{
    width: 200px;
    height: 200px;
    background-color: crimson;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
}

#box3{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}



#main{
    height: 100%;
    width: 100%;
    background-color: #555;
}

#nav{
    height: 60px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h4{
    color: white;
    font-weight: 300;
}

#center{
    height: 80%;
    width: 100%;
    background-image: url('https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}

#center h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}

#center h5{
    color: white;
    font-size: 40px;
    font-weight: 200;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

#links button{
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

#links button:nth-child(2){
    background-color:transparent;
    border: 1px solid white;
    color: white;
}